<h1>EmergencyContacts#new</h1>
<p>Find me in app/views/emergency_contacts/new.html.erb</p>

<h1>new</h1>



<%= simple_form_for  (@emergency_contact) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :phone_number %>
  <%= f.button :submit %>
<% end %>
